.container {

  display: flex;

  justify-content: center;

  background-color: #D1E8E4;
  
  
}


button {
 
  background-color: #C37B89;

  color: #fff;
  margin: 10px;
 padding: 10px;
  border: none;
  display: block;
  text-transform: uppercase;
  

}
.btn {
  justify-content: space-evenly;
}